#v1.vo{margin:0;border:1 solid black}
body{margin:0;background:#dfdfdf;color:#000;SCROLLBAR-FACE-COLOR:#dfdfdf;SCROLLBAR-HIGHLIGHT-COLOR:#fff;SCROLLBAR-SHADOW-COLOR:#c0c0c0;SCROLLBAR-3DLIGHT-COLOR:#c0c0c0;SCROLLBAR-ARROW-COLOR:#333;font-family:Times New Roman}
a,a:visited{text-decoration:none;color:#00c}
a:active{color:#33f}
a:hover{text-decoration:underline;color:#00f}
a.i,a.i:visited,a.o,a.o:visited{cursor:hand;position:relative;color:#001;font:800 19/1.3;background:#eef;behavior:url(/ie/e.htc.php);text-align:center;margin:2;display:block;border:4 outset;letter-spacing:-1}
a.i:hover,a.i:active,a.o:hover,a.o:active{text-decoration:none;color:#fff;background:#77a;border:4 ridge}
a.i:active,a.o:active{color:#fff;background:#000;border:4 groove}
a.o,a.o:visited{position:relative;left=5;top=2;border:4 inset}
dd{padding:0;margin:0}
.t1{margin:0 3 0;border:0}
.td1,.tb3 td td{background:#EFEFEF;border:1 solid;border-color:#fff #000 #000 #fff}
.t2{text-align:center;background:#c0c0c0;font-weight:900;border:1 solid #000;border-width:0 1 1 0}
dt{font-size:11;border-bottom:1 solid #fff;padding:0;margin:0}
.dtb,.dt1{cursor:hand;behavior:url(/ie/d.htc.php)}
.dt1{color:#555}
#tt3 a{display:block;text-decoration:none;color:#000;background:#eee;behavior:url(/ie/c.htc.php);height:16;width:140;padding:0;text-align:center;margin:4 5 4 5;font:400 11 verdana;border:1 outset}
#tt3 a.v,#tt3 a:visited{color:#444;border:1 inset}
#tt3 a:visited{v:1}
#tt3 a.p,#tt3 a.p:visited{background:#ccc;text-indent:-3;color:red}
.tb3{margin:10;font-size:15;text-indent:30;text-align:justify;border:solid;border-color:#333 #111 #222 #666;border-width:1 2 2 1;background:#e2e2e2;filter:Alpha(opacity=70);width:555;float:right;position:relative;z-index:3}
.ff{cursor:help;filter:dropShadow(offx=2,offy=2,color=gray);height:19;vertical-align:bottom}
#tdh{cursor:help;width:670;color:#fff;font:600 13 verdana;letter-spacing:-1}
#tdh td{border-right:1 solid #888;border-bottom:1 solid #888;width:50%;vertical-align:middle;text-align:center;height:18;background:#000}
a.i span,{width:10;filter:dropshadow(offx=1,offy=1,color=black);background:black}
.r{width:100%;height:100%}
#sp{width:265;filter:dropShadow(color:black,offy=1,offx=1);font-size:22;color:#fe0033;letter-spacing:-3}
.tb3 td{padding:2 10}
.bh{font-family:tahoma;font-size:13;cursor:hand;position:absolute;left:0}